* {
	box-sizing: border-box;
} 

body {
	font-family: 'Roboto', sans-serif;
	background-color: #621402;
}

h1, h2, h3, h4, h5, h6, p, ul, textarea, ul, li, form, input, hr, div, body {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 36px;
}

p {
	font-weight: 400;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
	url('../img/bg.png') 50% 0 / cover no-repeat;
	/*background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;*/
	padding-top: 30px;
	color: #fff;
	padding-bottom: 60px;
}

.wrapper {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 57px;
}

.header__nav {

}

.header__menu {
	display: flex;
}

.m-menu {
	display: none;
}

.header__menu-item {
	margin-right: 25px;
}

.header__menu-item a {
	color: #fff;
	font-size: 14px;
}

.header__user {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.avatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 11px;
}

.header__film {
	margin-top: 90px;
    margin-bottom: 70px;
}

.flex__header__film {
	display: flex;
	align-items: center;
}

.header__info {

}

.info__small {
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 11px;
	opacity: 50%; /* или 0,5*/
}

.info__title {
	line-height: 42px;
	margin-bottom: 23px;
}

.info__description {
	font-size: 16px;
	line-height: 150%;
	width: 570px;
}

.header__turntable {
	margin: auto;
}

.assessment {
	margin-top: 51px;
}

.flex-assessment {
	display: flex;
}

.assessment__time {
	display: flex;
	align-items: center;
	margin-right: 34px;
}

.assessment__time span {
	line-height: 150%;
}

.time__image {
	margin-right: 14px;
}

.assessment__rating {
	display: flex;
	align-items: center;
}

.rating__image {
	margin-right: 12px;
}

.assessment__grade {
	font-weight: 700;
	font-size: 24px;
	margin-right: 6px;
}

.session {
	padding: 46px 0 64px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.flex__session {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.session__data {

}

.data__title {
	display: block;
	margin-bottom: 20px;
	line-height: 18.75px;
}

.flex__items {
	display: flex;
}

.data__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 9px 27px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-right: 15px;
	cursor: pointer;
	transition-duration: 0.1s;
}

.data__item:last-child {
	margin-right: 0;
}

.data__item:hover {
	background-color: #FE8E05;
	color: #621402;
}

.item__month {
	line-height: 19px;
}

.item__number {
	font-size: 30px;
	font-weight: 900;
	line-height: 35px;
}

.item__day {
	line-height: 22px;
}

.cinema__title {
	display: block;
	margin-bottom: 33px;
	line-height: 24px;
}

.cinema__select {
	width: 470px;
	height: 60px;
	border-radius: 5px;
	padding: 18px;
	background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 16px;
}

.cinema__option {
	background-color:#7c392a;
	color: #fff;
	font-size: 16px;
}

.session__clock {
	margin-right: 62px;
}

.clock__title {
	display: block;
	margin-bottom: 33px;
	line-height: 24px;
}

.clock__select {
	width: 108px;
	height: 60px;
	padding: 18px 0 18px 18px;
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #fff;
    font-size: 16px;
}

.clock__option {
	background-color:#7c392a;
	color: #fff;
	font-size: 16px;
}

.scheme {
	margin-bottom: 40px;
	margin-top: 60px;
}

.scheme svg {	
	background: rgba(36, 36, 36, 0.18);
	border-radius: 10px;
}

.scheme path:not(.light) {
	fill:rgba(255,255,255, 0.2);
}

.scheme path:not(.light):hover{
	fill:rgba(255,255,255, 0.5);
	cursor: pointer;
}

.scheme path.booked,
.scheme path.booked:hover {
	fill:rgba(255,255,255, 0.05);
	cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
	fill: #fe8e05;
}

.legend {
	display: flex;
	align-items: center;
	margin-top: 22px;
	margin-bottom: 38px;
}

.legend-label {
	display: flex;
	align-items: center;
	margin-right: 30px;
	color: rgba(255, 255, 255, 0.5);
}

.legend-label:last-child {
	margin-right: 0px;
}

.price {
	padding-top: 20px;
	padding-bottom: 40px;
}

.price-label {
	display: block;
	font-size: 18px;
	line-height: 21px;
}

.price-tag {
	font-size: 52px;
	line-height: 61px;
	color: #fff;
}

.flex-price {
	display: flex;
	justify-content: space-between;
}

.button {
	display: inline-block;
	height: 70px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	padding: 24px 52px;
	background-color: #fe8e05;
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.cinema__select {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.flex__session {
		flex-wrap: wrap;
	}

	.session__data {
    	order: 1;
    	flex-basis: 70%;
	}

	.session__clock {
     	margin-right: 0px; 
    	order: 2;
    	flex-basis: 30%;
	}

	.session__cinema {
		order: 3;
    	margin-top: 40px;
	}

	.header__menu-item {
		margin-right: 20px;
	}
}

@media (max-width: 762px) {
	.container {
		max-width: 560px;
	}

	.flex__session {
		justify-content: unset;
	}

	.session__clock {
     	margin-top: 40px; 
	}

	.header__menu {
		display: none;
	}

	.header__logo {
		margin-right: 0;
	}

	.m-menu {
		display: block;
		background-color: transparent;
		border: none;
		width: 40px;
		height: 40px;
		padding: 0;
		margin-left: 20px;
		cursor: pointer;
	}
}
